{% extends "layout.html" %}
{% block body %}

<div class="person_container">
{% if modify %}
  <form method="POST" action="{{ request.path }}?id={{ person.id }}" class="person_form">
    <div class="form_input">
      <label for="pseudonym">Pseudonym</label>
      <input property="v:nickname" name="pseudonym" type="text" value="{{ person.pseudonym }}">
    </div>
    <div class="form_input">
      <label for="email">E-Mail</label>
      <input rel="foaf:mbox" name="email" type="text" value="{{ person.email }}">
    </div>
    <input name="id" type="hidden" value="{{ person.id }}">
    <div class="form_button">
      <input type="submit" value="Modify person">
    </div>
  </form>
{% else %}
  <form method="POST" action="{{ request.path }}" class="person_form">
    <div class="form_input">
      <label for="pseudonym">Pseudonym</label>
      <input name="pseudonym" type="text">
    </div>
    <div class="form_input">
      <label for="email">E-Mail</label>
      <input name="email" type="text">
    </div>
    <input name="id" type="hidden" value="new_id">
    <div class="form_button">
      <input type="submit" value="Add person">
    </div>
  </form>
{% endif %}
{% if request.method == "POST" %}
  {% if error %}
    <p class="message">There was an error.</p>
  {% else %}
    {% if modify %}
      <p class="message">Person has been modified.</p>
    {% else %}
      <p class="message">Person has been added.</p>
    {% endif %}
  {% endif %}
{% endif %}
</div>

{% endblock %}
