{% extends "layout.html" %}
{% block body %}
<ul class="inventory">
  {% for thing in inventory %}
  <li class="thing">
    <a href="{{ thing.url }}">
      <h2>{{ thing.name }}</h2>
    </a>
    <ul class="thing_attribs">
      <li class="owner">
        <h4>
          Owner:
        </h4>
        <a href="modify_person?id={{ thing.owner.id }}">
          {{ thing.owner.pseudonym }}
         </a>
      </li>
      <li class="contact">
        <h4>
          Contact:
        </h4>
        <a href="modify_person?id={{ thing.contact.id }}">
          {{ thing.contact.email}}
        </a>
      </li>
      <li class="rule">
        <h4>
          Who can use this?
        </h4>
        <a href="modify_usage_rule?id={{ thing.usage_rule.id }}">
          {{ thing.usage_rule.rule }}
        </a>
      </li>
    </ul>
    <form method="POST" action="print_label?id={{ thing.id }}" class="print_form">
    <input name="id" type="hidden" value="{{ thing.id }}">
    <input type="submit" value="Print label">
  </form>
  </li>
  {% else %}
  <li>
    <em>Unbelievable.  No entries here so far</em>
  </li>
  {% endfor %}
</ul>
{% endblock %}
