{% extends "layout.html" %}
{% block body %}
<div class="inventory_container">
  <div class="button">
    <a href="{{ url_for('add_thing') }}">
      add thing
    </a>
  </div>
  <article>
    {% for thing in inventory %}
    <section class="thing">
      <h2>
          <a property:"owl:Thing" title="{{ thing.name}}" href="{{ base_url + thing.uid[:8] }}">
          {{ thing.name }}
        </a>
      </h2>
      <h3>
        <a href="modify_thing?id={{ thing.id }}">
          {{ thing.uid }}
        </a>
      </h3>
      <table class="thing_attribs">
        <tr class="owner">
          <td>
            <b>
              Owner:
            </b>
          </td>
          <td>
            <a property="v:nickname" href="modify_person?id={{ thing.owner.id }}">
              {{ thing.owner.pseudonym }}
            </a>
          </td>
        </tr>
        <tr class="contact">
          <td>
            <b>
              Contact:
            </b>
          </td>
          <td>
            <a rel="foaf:mbox" href="modify_person?id={{ thing.contact.id }}">
              {{ thing.contact.email}}
            </a>
          </td>
        </tr>
        <li class="rule">
          <td>
            <b>
              Permissions:
            </b>
          </td>
          <td>
<!-- TODO: Wie Permissions einbauen? -->
            <a href="modify_usage_rule?id={{ thing.usage_rule.id }}">
              {{ thing.usage_rule.rule }}
            </a>
          </td>
        </tr>
      </table>
      <div class="print">
        <form method="POST" action="show_inventory" class="print_form">
          <input name="id" type="hidden" value="{{ thing.id }}">
          <input type="submit" value="Print label">
        </form>
      </div>
    </section>
    {% else %}
    <section class="empty">
      <p>Unbelievable!</p>
      <p>No entries here so far :'(</p>
    </section>
    {% endfor %}
  </article>
</div>
{% endblock %}
