{% extends "layout.html" %}
{% block body %}
<div class="inventory">
  <div class="button">
    <a href="{{ url_for('add_thing') }}">
      add thing
    </a>
  </div>
  <ul>
  {% for thing in inventory %}
  <li class="thing">
    <h2>
      <a href="{{ thing.url }}">
        {{ thing.name }}
      </a>
    </h2>
    <h3>
      <a href="{{ thing.url }}">
        {{ thing.uid }}
      </a>
    </h3>
    <ul class="thing_attribs">
      <li class="owner">
        <h4>
          Owner:
        </h4>
        <a href="modify_person?id={{ thing.owner.id }}">
          {{ thing.owner.pseudonym }}
         </a>
      </li>
      <li class="contact">
        <h4>
          Contact:
        </h4>
        <a href="modify_person?id={{ thing.contact.id }}">
          {{ thing.contact.email}}
        </a>
      </li>
      <li class="rule">
        <h4>
            Permissions:
        </h4>
        <a href="modify_usage_rule?id={{ thing.usage_rule.id }}">
          {{ thing.usage_rule.rule }}
        </a>
      </li>
    </ul>
    <form method="POST" action="show_inventory" class="print_form">
      <input name="id" type="hidden" value="{{ thing.id }}">
      <input type="submit" value="Print label">
    </form>
  </li>
  {% else %}
  <li>
    <em>Unbelievable.  No entries here so far</em>
  </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
