{% extends "layout.html" %}
{% block body %}

<div class="thing_container">
{% if modify %}
  <form method="POST" action="{{ request.path }}?id={{ thing.id }}" class="thing_form">
    <div class="form_input">
      <label for="name">Name</label>
      <input name="name" type="text" value="{{ thing.name }}">
    </div>
    <div class="form_input">
    <label for="owner">Owner</label>
      <select name="owner" id="owner">
        {% for person in persons %}
          <option value="{{ person.id }}" {{ "selected" if thing.owner == person.id else "" }}>{{ person.pseudonym }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_input">
      <label for="contact">Contact</label>
      <select name="contact" id="contact">
        {% for person in persons %}
          <option value="{{ person.id }}" {{ "selected" if thing.contact == person.id else "" }}>{{ person.pseudonym }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_input">
      <label for="owner">Permission</label>
      <select name="usage_rule" id="usage_rule">
        {% for usage_rule in usage_rules %}
          <option value="{{ usage_rule.id }}" {{ "selected" if thing.usage_rule == usage_rule.id }}>{{ usage_rule.rule }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_input">
      <label for="url">URL</label>
      <input name="url" type="text" value="{{ thing.url }}">
    </div>
    <input name="id" type="hidden" value="{{ thing.id }}">
    <div class="form_button">
      <input type="submit" value="Modify thing">
    </div>
    <!-- TODO
    <div class="form_delete_button">
      <input type="submit" value="Delete thing">
    </div>
    -->
{% else %}
  <form method="POST" action="{{ request.path }}" class="thing_form">
    <div class="form_input">
      <label for="name">Name</label>
      <input name="name" type="text" value="">
    </div>
    <div class="form_input">
      <label for="owner">Owner</label>
      <select name="owner" id="owner">
        {% for person in persons %}
          <option value="{{ person.id }}">{{ person.pseudonym }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_input">
      <label for="contact">Contact</label>
      <select name="contact" id="contact">
        {% for person in persons %}
          <option value="{{ person.id }}">{{ person.pseudonym }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_input">
      <label for="owner">Permission</label>
      <select name="usage_rule" id="usage_rule">
        {% for usage_rule in usage_rules %}
          <option value="{{ usage_rule.id }}">{{ usage_rule.rule }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_input">
      <label for="url">URL</label>
      <input name="url" type="text">
    </div>
    <input name="id" type="hidden" value="new_id">
    <div class="form_button">
      <input type="submit" value="Add thing">
    </div>
  </form>
{% endif %}
{% if request.method == "POST" %}
  {% if error %}
    <p class="message">There was an error.</p>
  {% else %}
    {% if modify %}
      <p class="message">Thing has been modified.</p>
    {% else %}
      <p class="message">Thing has been added.</p>
    {% endif %}
  {% endif %}
{% endif %}
</div>

{% endblock %}
