{% extends "layout.html" %}
{% block body %}

<!-- Todo Permissions: Jede 'usage_rule' scheint eine weitere Spielart von Permission zu sein. Daraus folgt, dass eine entsprechende Ontologie stets die nächste neu eingegebene Rule aufnehmen muss. -->

<div class="usage_rule_container">
{% if modify %}
  <form method="POST" action="{{ request.path }}?id={{ usage_rule.id }}" class="usage_rule_form">
    <div class="form_input">
      <label for="rule">Rule</label>
      <input name="rule" type="text" value="{{ usage_rule.rule }}">
    </div>
    <input name="id" type="hidden" value="{{ usage_rule.id }}">
    <div class="form_button">
      <input type="submit" value="Modify usage rule">
    </div>
  </form>
{% else %}
  <form method="POST" action="{{ request.path }}" class="usage_rule_form">
    <div class="form_input">
      <label for="rule">Rule</label>
      <input name="rule" type="text">
    </div>
    <input name="id" type="hidden" value="new_id">
    <div class="form_button">
      <input type="submit" value="Add usage rule">
    </div>
  </form>
{% endif %}
{% if request.method == "POST" %}
  {% if error %}
    <p class="message">There was an error.</p>
  {% else %}
    {% if modify %}
      <p class="message">Usage rule has been modified.</p>
    {% else %}
      <p class="message">Usage rule has been added.</p>
    {% endif %}
  {% endif %}
{% endif %}
</div>

{% endblock %}
